.post{
	padding: 1rem 0;
}
.post .post-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.post-list .post-item{
	padding: .2rem 0;
	list-style: none;
}
.post-list .post-item>time{
	color: #999;
	font-family: "Galdeano","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.post-list .post-item>a{
	color: #1863a1;
	text-decoration: none;
	padding: .2rem 1rem;
}